<div class="home-page">
  <h2 class="app-name">Budget App</h2>
  <div class="hom container-fluid mb-3">
    <div class="prim">
      <%= link_to "LOG IN", new_user_session_path, class: "home-log"%>
    </div>
    <div class="prima">
      <%= link_to "SIGN UP", new_user_registration_path, class: "home-sign" %>
    </div>
  </div>
</div>